body {
  margin: 0;
  text-align: center;
  color: #fff;
}
.container {
  min-height: 100vh;
  background-color: turquoise;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jitaku {
  color: red;
}
